<div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
        {% for property in properties %}
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">{{ property.address }}, {{ property.city }}, {{ property.country }}
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b"> {{ property.id }} </span> {{ property.typeLabel }}
                                            <br> {{ property.title }}
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">{{ property.statusLabel }} | {{ property.formattedPrice }} </span></a>
                                        </p>
                                        <a href="{{ path('app_property_show', {id : property.id, slug: property.slug}) }}" class="link-a">Cliquez ici pour la voir
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>






